.signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 50px auto;
    padding: 1rem;
    border-top: 3px solid #00d5ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.signup__container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup__container button{
    width: 300px;
    height: 40px;
    margin: 20px;
    background-color: #00d5ff;
    border: none;
    border-radius: 10px;
    transition: .3s;
}

.signup__container button:hover{
    cursor: pointer;
    background-color: #00a8cc;
    color: #fff;
    transition: 0.3s;
    transform: scale(1.1);
}

.signup__container input{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    outline: none;
    font-size: 16px;
    transition: .3s;
}

.signup__container input:focus{
    border: 1px solid #00d5ff;
    transition: 0.3s;
    transform: scale(1.1);
}

.signup__container h5{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}